
#search {
    border-radius: 20px;
}


#search:focus {

    outline: 4px solid red;
}
.search_site{
    background-color: #06111D;
    width: 12%;
    z-index: 10;
    position: fixed;
    top: 7%;
    display: block;
    left: 55%;
}


.movie_item{
    padding: 2px;
    width: 100%;
    display: grid;
    grid-template-columns: 40% 57%;
    grid-gap: 3%;
}
.movie_card{
    margin: 10px 5px;
    background-color: wheat;
}

.movie_img img{
    width: 100%;
}


.display_none{
    display: none;
}
.movie_info a{
    color: #000;
    text-decoration: none;

}
.movie_info a:hover{
    color: red;


}